!!!
%html
  %head
    %title Chitter
    %link{ href: '/stylesheets/reset.css', rel: 'stylesheet', type: 'text/css' }
    %link{ href: '/stylesheets/chitter.css', rel: 'stylesheet', type: 'text/css' }
  %body
    %header
      #logo
        Chitter
      - if current_user  
        #welcome-message= "Hi #{@current_user.name}, happy cheeping!"
        %form#log-out{ action: '/sessions', method: 'post' }
          %input{ type: 'hidden', name: '_method', value: 'delete' }
          %input.button{ type: 'submit', value: 'Log out' }
      - else
        #user-links
          %a.button{ href: '/users/new' } Sign up
          %a.button{ href: '/sessions/new' } Log in
    - if flash[:notice]
      #flash
        = flash[:notice]
    - if flash[:errors] and not flash[:errors].empty?
      #errors
        Please try again:
        %ul
          - flash[:errors].each do |error|
            %li= error
    = yield